* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main {
  width: 800px;
  height: 400px;
  display: flex;
  background: #9980fa;
  justify-content: space-evenly;
  align-items: center;
}
body main div {
  width: 200px;
  height: 3em;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
}
body main div h3 {
  line-height: 3em;
  text-transform: uppercase;
  background: orange;
  text-align: center;
}
body main div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  transform: scale(0);
}
body main div li {
  margin-top: 2px;
}
body main div li a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  background: green;
  padding: 1em;
}
body main div:hover ul {
  transform: scale(1);
  transform-origin: top left;
}
