* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #a4b0be;
  width: 100vw;
  height: 100vh;
  /*  display: flex;
  justify-content: center;
  align-items: center; */
}
body main {
  width: 400px;
  height: 400px;
  /*  position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #dfe4ea;
  border: solid 2px silver;
}
