* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #a4b0be;
}
body main {
  width: 260px;
  height: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px silver;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .filed {
  position: relative;
  overflow: hidden;
}
body main .filed input {
  outline: none;
  border: none;
  height: 20px;
  margin-top: 10px;
}
body main .filed::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, white, #eccc68, #ff7f50, #ff6b81, #70a1ff, white);
  transform: translateX(-100%);
}
body main .filed:hover::before {
  transition: 2s;
  transform: translateX(100%);
}
