* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #0a3d62;
}
body main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .btn {
  width: 240px;
  height: 60px;
  display: block;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: solid 6px #e55039;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
body main .btn::after {
  content: '';
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: -50% 0;
  background: #eb2f06;
  z-index: -1;
  transform: skewX(45deg);
  align-self: center;
  transition: 0.5s;
}
body main .btn:hover::after {
  width: 200%;
}
