* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: #006266;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main {
  width: 400px;
  height: 200px;
  border: solid 2px gray;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div {
  font-size: 2.5em;
}
body main div strong {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  transition: 1s;
  cursor: pointer;
}
body main div strong:nth-of-type(1) {
  background: #f79f1f;
}
body main div strong:nth-of-type(2) {
  background: #009432;
}
body main div strong:nth-of-type(1):hover {
  font-size: 1.5em;
  transform: rotate(180deg);
}
body main div strong:nth-of-type(2):hover {
  font-size: 1.5em;
  transform: rotate(-360deg);
}
